extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title 
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            +outputRating(pageHeader.rating)
          p= pageHeader.address
          .card.card-primary
            .card-block
              h2.card-title= pageBody.storeInfo.title
              p.card-text= pageBody.storeInfo.weekdays 
              p.card-text= pageBody.storeInfo.saturdays 
              p.card-text= pageBody.storeInfo.sundays  
          .card.card-primary
            .card-block
              h2.card-title= pageBody.facilities.title
              each amenity in pageBody.facilities.amenities
                span.badge.badge-warning
                  i.fa.fa-check
                  | &nbsp; #{amenity}
                | &nbsp;
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title= pageBody.location.title
              img.img-fluid.rounded(src=pageBody.location.mapurl)
      .row
        .col-12
          .card.card-primary.review-card
            .card-block
              a.btn.btn-primary.float-right(href='/location/review/new') Add review
              h2.card-title Customer reviews
              each review in reviews
                .row.review
                  .col-12.no-gutters.review-header
                    span.rating
                      +outputRating(review.rating)
                    span.reviewAuthor= review.author
                    small.reviewTimestamp= review.date
                  .col-12
                    p= review.comment
    .col-12.col-lg-3
      p.lead
        | #{sidebarLead}
      p
        | #{sidebarSub}